<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Detalhes da Avaliação</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Detalhes da Avaliação</h1>
    <dl class="row">
        <dt class="col-sm-3">ID Avaliação</dt>
        <dd class="col-sm-9" th:text="${avaliacao.idAvaliacoes}"></dd>

        <dt class="col-sm-3">ID IA</dt>
        <dd class="col-sm-9" th:text="${avaliacao.idIa}"></dd>

        <dt class="col-sm-3">Comentário</dt>
        <dd class="col-sm-9" th:text="${avaliacao.comentario}"></dd>

        <dt class="col-sm-3">Data da Avaliação</dt>
        <dd class="col-sm-9" th:text="${#dates.format(avaliacao.dataAvaliacao.time, 'dd/MM/yyyy')}"></dd>
    </dl>
    <a href="/avaliacoes" class="btn btn-secondary">Voltar para a lista</a>
</div>
</body>
</html>
