<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Detalhes do Usuário</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Detalhes do Usuário</h1>
    <dl class="row">
        <dt class="col-sm-3">ID</dt>
        <dd class="col-sm-9" th:text="${usuario.id}"></dd>

        <dt class="col-sm-3">Email</dt>
        <dd class="col-sm-9" th:text="${usuario.email}"></dd>
    </dl>
    <a href="/usuarios" class="btn btn-secondary">Voltar para a lista</a>
</div>
</body>
</html>
